<% flash.each do |key, value| %>
  <div class="error">
    <%= value %>
  </div>
<% end %>
<%= form_tag '/login' do %>
<table class="form">
  <tr>
   <td> <i class="fa fa-user" style="font-size:150px"></i></td>
  </tr>
  <tr>
    <td><%= text_field_tag :email, nil, class:'form-control', placeholder: 'User Name' %></td>
  </tr>
  <tr>
    <td><%= password_field_tag :password, nil, placeholder: 'Password', class:'form-control' %></td>
  </tr>
    <tr>
      <td><%= submit_tag "Submit",class: 'btn btn-info' %></td>
    </tr>
</table>

<% end %>

